@using Microsoft.JSInterop
@inject IJSRuntime JS
@implements IDisposable
@implements IAsyncDisposable

<div cclass="@ContainerCssClass">
    <div class="@ToolBarCssClass">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-1" role="group">
                <button class="btn btn-primary" @ref="cropButton">
                    <span class="text-center text-nowrap">@CropButtonUiLabel</span>
                </button>
                <button class="btn btn-secondary" @ref="resetCropButton" @onclick="ResetCropButtonClick">
                    <span class="text-center text-nowrap">@ResetCropButtonUiLabel</span>
                </button>
            </div>
        </div>
        <div class="custom-file">
            <InputFile id="@_fileInputId"
                       class="custom-file-input"
                       accept="@AcceptPattern"
                       OnChange="OnInputFileChange"/>
            <label for="@_fileInputId"
                   class="custom-file-label"
                   data-browse="@FilePickButtonUiLabel">
                <span class="d-inline-block text-truncate w-100">@_prompt</span>
            </label>
        </div>
    </div>
    <div class="@ImagePartContainerCssClass">
        <div class="@CanvasContainerCssClass">
            <canvas @ref="canvas" class="@CropCanvasCssClass">
                Your browser does not support the HTML5 canvas element.
            </canvas>
        </div>
        @if (ShowCroppedResult)
        {
            <div class="@CroppedResultViewContainerCssClass">
                <div @ref="resultContainer"></div>
            </div>
        }
    </div>
</div>