@using System.Runtime.InteropServices
@using Microsoft.JSInterop
@using System.IO
@inject IJSRuntime JS;
@implements IAsyncDisposable;

<div class="d-flex flex-column justify-content-center">
    <div class="p-1">
        <img @ref="previewImg" class="@DefaultPreviewImgCSS" alt="@_prompt"/>
    </div>
    <div class="p-1">
        <div class="custom-file">
            <InputFile id="@fileUploadId"
                       class="custom-file-input"
                       accept="@AcceptPattern"
                       OnChange="OnInputFileChange"/>
            <label for="@fileUploadId"
                   class="custom-file-label"
                   data-browse="@ButtonLabel">
                @_prompt
            </label>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string DefaultPrompt { get; set; } = "Choose file";

    [Parameter]
    public string DefaultPreviewImgCSS { get; set; } = "img-thumbnail";

    [Parameter]
    public string ButtonLabel { get; set; } = "Browse";

    [Parameter]
    public string AcceptPattern { get; set; } = "image/*";

    [Parameter]
    public EventCallback<InputFileChangeEventArgs> InputFileChanged { get; set; }

    private string _prompt;
    IJSObjectReference _blobUtilModule;

    Guid fileUploadId = Guid.NewGuid();
    ElementReference previewImg;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            if (string.IsNullOrEmpty(_prompt))
            {
                _prompt = DefaultPrompt;
            }
            
            var importPath = $"./_content/{typeof(BootstrapImgUpload).Assembly.GetName().Name}";
            _blobUtilModule = await JS.InvokeAsync<IJSObjectReference>("import", $"{importPath}/imgPreviewUtil.js");

            await _blobUtilModule.InvokeVoidAsync("hookFileUploadEvent", previewImg, fileUploadId);
        }
    }

    private Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        _prompt = e.File.Name;

        return InputFileChanged.InvokeAsync(e);
    }


    public async ValueTask DisposeAsync()
    {
        if (_blobUtilModule != null)
        {
            await _blobUtilModule.DisposeAsync().ConfigureAwait(false);
        }
    }

}