@using Microsoft.JSInterop
@inject IJSRuntime JS;
@implements IAsyncDisposable;

<div class="@ContainerCssClass">
    @if (ShowPreview)
    {
        <div class="p-1">
            <img @ref="previewImg" class="@PreviewImgCssClass" src="" alt="@_previewImgAltText"/>
        </div>
    }
    <div class="p-1">
        <div class="custom-file">
            <InputFile id="@_fileUploadId"
                       class="custom-file-input"
                       accept="@AcceptPattern"
                       OnChange="OnInputFileChange"/>
            <label for="@_fileUploadId"
                   class="custom-file-label"
                   data-browse="@ButtonUiLabel">
                <span class="d-inline-block text-truncate w-100">@_prompt</span>
            </label>
        </div>
    </div>
</div>