@using Microsoft.JSInterop
@inject IJSRuntime JS
@implements IDisposable
@implements IAsyncDisposable

<div class="@ContainerCssClass">
    @if (ShowPreview)
    {
        <div class="@PreviewContainerCssClass">
            <img @ref="previewImg" class="@PreviewImgCssClass" src="@PreviewImgSrc" alt="@_previewImgAltText" />
        </div>
    }
    <div class="@FileBarContainerCssClass">
        <div class="custom-file">
            <InputFile id="@_fileUploadId"
                       class="custom-file-input"
                       accept="@AcceptPattern"
                       OnChange="OnInputFileChange" />
            <label for="@_fileUploadId"
                   class="custom-file-label"
                   data-browse="@ButtonUiLabel">
                <span class="text-center text-nowrap">@_prompt</span>
            </label>
        </div>
    </div>
</div>